@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "Geist Pixel Grid";
  src: url("/fonts/GeistPixel/GeistPixel-Grid.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Line";
  src: url("/fonts/GeistPixel/GeistPixel-Line.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Circle";
  src: url("/fonts/GeistPixel/GeistPixel-Circle.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Square";
  src: url("/fonts/GeistPixel/GeistPixel-Square.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Triangle";
  src: url("/fonts/GeistPixel/GeistPixel-Triangle.ttf") format("truetype");
  font-display: swap;
}

@theme static {
  --color-primary-50: #f7fce9;
  --color-primary-100: #edf8cf;
  --color-primary-200: #dbf1a5;
  --color-primary-300: #c1e670;
  --color-primary-400: #a7d645;
  --color-primary-500: #90c628;
  --color-primary-600: #69961a;
  --color-primary-700: #507219;
  --color-primary-800: #425b19;
  --color-primary-900: #384d1a;
  --color-primary-950: #1c2a09;

  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", sans-serif;
  --font-pixel-circle: "Geist Pixel Circle", sans-serif;
  --font-pixel-grid: "Geist Pixel Grid", sans-serif;
  --font-pixel-line: "Geist Pixel Line", sans-serif;
  --font-pixel-square: "Geist Pixel Square", sans-serif;
  --font-pixel-triangle: "Geist Pixel Triangle", sans-serif;
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--ui-bg-muted);
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--ui-bg-muted) transparent;
}
