@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-primary-50: #fff6eb;
  --color-primary-100: #fff9ed;
  --color-primary-200: #fff2d4;
  --color-primary-300: #ffe1a8;
  --color-primary-400: #ffcb70;
  --color-primary-500: #ffa937;
  --color-primary-600: #ff8904;
  --color-primary-700: #f07206;
  --color-primary-800: #c75607;
  --color-primary-900: #9e430e;
  --color-primary-950: #7f390f;

  --breakpoint-xs: 30rem;
}
